@font-face {
  font-family: "maskb";
  src: url("assets/maskb.ttf");
}

h2 {
  font-family: maskb;
  font-size: 6em;
}

.container {
  margin-top: 99%;
}

.score {
  font-family: "maskb";
  color: rgb(255, 0, 0);
  font-size: 4em;
}
