body {
  background-image: url('https://zupimages.net/up/18/14/m307.jpg');
  opacity: 0, 5;
}

@font-face {
  font-family: "maskb";
  src: url("assets/maskb.ttf");
}

h2 {
  font-family: maskb;
  font-size: 5em;
}

.score {
  font-family: "maskb";
  color: rgb(216, 189, 189);
  font-size: 3em;
  background-color: rgba(61, 47, 47, 0.5);
  border-radius: 25px;
  padding: 50%, auto, 50%;
}

.score:hover {
  color: rgb(223, 208, 208);
  transition: 3s;
  border-radius: 0;
  background-color: rgba(204, 30, 30, 0.7);
}

.stat1 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-family: maskb;
}

.stat2 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-family: maskb;
}

.card {
  max-width: 300px;
  max-height: 600px;
}
