<!--
<div *ngFor="let hero of heroes | slice:0:10 ;let i=index">

    <img [src]="hero.images.md">
  {{hero.id}}
  {{hero.name}}



</div>  -->
<div style="text-align:center">
  <h2>Choose your Superheroes team : </h2>
  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 offset-1">
        <div class="card" id="236">
          <h3 class="card-title">{{ heroes[236].name}}</h3>
          <img class="card-img-top" src="{{ heroes[236].images.md}}" alt="Card image cap">
          <div class="card-body">

          </div>
        </div>
      </div>

      <div class="col-md-3 offset-4">
        <div class="card" id="79">
          <h3 class="card-title">{{ heroes[79].name}}</h3>
          <img class="card-img-top" src="{{ heroes[79].images.md}}" alt="Card image cap">
          <div class="card-body">

          </div>
        </div>
      </div>
    </div>
  </div>





</div>
