/* You can add global styles to this file, and also import other style files */

/* image background */

body {
  background-image: url('http://getwallpapers.com/wallpaper/full/9/3/5/886897-thunderstorm-wallpaper-1920x1178-windows-10.jpg');
  background-repeat:repeat-y;
  min-width: 600px;
}
